<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>MAIN HOME</h3>
      </div>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-success" onclick="location.href='/user/sts'">GET STS</button>
  <br>
  <%= if (stsxml) {%>
    
    <form action="/user/vm" method="post">
      <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= authenticity_token %>">
      <br>
      <div class="form-group">
        <label for="Audience">Audience</label>
        <input type="Audience" class="form-control" readonly id="Audience" name="Audience" value="<%= stsxml.AssumeRoleWithWebIdentityResult.Audience%>">
      </div>
      
      <div class="form-group">
        <label for="Audience">Assumed Role ID</label>
        <input type="Audience" class="form-control" readonly id="AssumedRoleId" name="AssumedRoleId" value="<%= stsxml.AssumeRoleWithWebIdentityResult.AssumedRoleUser.AssumedRoleId%>">
      </div>
      
      <div class="form-group">
        <label for="Audience">Arn</label>
        <input type="Audience" class="form-control" readonly id="Arn" name="Arn" value="<%= stsxml.AssumeRoleWithWebIdentityResult.AssumedRoleUser.Arn%>">
      </div>

      <div class="form-group">
        <label for="Audience">Provider</label>
        <input type="text" class="form-control" readonly id="Provider" name="Provider" value="<%= stsxml.AssumeRoleWithWebIdentityResult.Provider%>">
      </div>

      <div class="form-group">
        <label for="Audience">Access Key ID</label>
        <input type="text" class="form-control" readonly id="AccessKeyId" name="AccessKeyId" value="<%= stsxml.AssumeRoleWithWebIdentityResult.Credentials.AccessKeyId%>">
      </div>

      <div class="form-group">
        <label for="Audience">Secret Access Key</label>
        <input type="text" class="form-control" readonly id="SecretAccessKey" name="SecretAccessKey" value="<%= stsxml.AssumeRoleWithWebIdentityResult.Credentials.SecretAccessKey%>">
      </div>

      <div class="form-group">
        <label for="Audience">Session Token</label>
        <input type="text" class="form-control" readonly id="SessionToken" name="SessionToken" value="<%= stsxml.AssumeRoleWithWebIdentityResult.Credentials.SessionToken%>">
      </div>

      <div class="form-group">
        <label for="Audience">Expiration</label>
        <input type="text" class="form-control" readonly id="Expiration" name="Expiration" value="<%= stsxml.AssumeRoleWithWebIdentityResult.Credentials.Expiration%>">
      </div>

      <div class="form-group">
        <label for="Audience">Request ID</label>
        <input type="text" class="form-control" readonly id="RequestId" name="RequestId" value="<%= stsxml.ResponseMetadata.RequestId%>">
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary">GetVM</button>

    </form>
  <% } %>
</div>
<div class="foot"> <span> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a></span> </div>
