
<div class="row">
  <div class="col-md-12">

    <div class="subtitle">
      <div class="container">
        <h3>Login</h3>
      </div>
    </div>

    <form action="/login" method="post">

      <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= authenticity_token %>">

      <div class="form-group">
        <label for="id">ID</label>
        <input type="id" class="form-control" id="id" name="id" placeholder="ID">
      </div>
      <br>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <br>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
</div>
<div class="foot"> <span> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a></span> </div>
